
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Roboto+Slab:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.5;
    text-align: center;   
}

nav {

  width: 100%;
    background-color: #fdfdfd;
    padding: 24px 0;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul li a.active {
    font-weight: 700;    
    color: #333;        
    }
nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;     
    text-decoration: none;
    color: #333;
}
